@import "general/button_green.css";
@import "general/input_box.css";
@import "general/button_ancla.css";

@import "media/media_inputs.css";
@import "media/mq_buttons.css";

:root
{
    /* Colors */
    --Very-light-pink:  #C7C7C7;
    --Text-input-field: #F7F7F7;
    --Hospital-green: #ACD9B2;
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.188rem;
}

header img
{
    width: 12.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body
{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.recover-info-container
{
    margin-top: 3.125rem;
    text-align: center;
}

.recover-info-container--title
{
    font-weight: bold;
}

.recover-info-container--title--description
{
    margin-top: 0.625rem;
    color: var(--Very-light-pink);
}

.input-box
{
    margin-top: 1.563rem;
}

.button-green
{
    margin-top: 1.875rem;
}

.button-ancla
{
    margin-top: 1.813rem;
}


@media (max-width: 375px)
{
    header, body
    {
        margin-top: 0vh;
    }

    header img
    {
        width: 9.375rem;
    }
    
}

@media (max-width: 320px)
{

    header img
    {
        width: 8.75rem;
    }
    
}